html										{ font-size: 1em; color: #c4c4c4; margin:0; padding:0; background: #2a2a2a; text-align: center; overflow-x: hidden;}

body										{ line-height: 140%; font-family: "AgendaLight", Arial, sans-serif; color: #c4c4c4; height:100%; padding:0; margin:-6px 0 0 0; width: 1480px !important;}

a,a:visited									{ cursor: pointer; font-family: "AgendaMedium", Arial, sans-serif; color: #f17235; font-weight: normal; text-decoration: none; -webkit-transition: color 200ms ease-in 100ms; -moz-transition: color 200ms ease-in 100ms; -o-transition: color 200ms ease-in 100ms; transition: color 200ms ease-in 100ms;}
a:hover										{ cursor: pointer; color: #9fdd39;}

h1											{ font-weight:normal; margin:0; }
h2											{ color: #c4c4c4; margin: 0 0 3px 0; font-family:"GothamUltraRegular", Arial, sans-serif; font-style: normal; text-transform: uppercase; font-weight: normal; text-decoration: none;  letter-spacing: -0.04em; }
h3,h4										{ font-family: "AgendaLight"; font-style: normal; font-weight: normal; text-decoration: none;}
h5											{ color: #2a2a2a; margin: 0; padding: 0; font-size: 2em; font-family: "GothamUltraRegular", Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none;}
h6											{ font-family: "AgendaLight", Arial, sans-serif; font-size: 1.5em; }
p											{ margin: 12px 0 0 0; }
sup											{ font-size: 0.55em; line-height: 30%; letter-spacing: 1px; }
.boldthis									{ font-family: "AgendaBold", Arial, sans-serif; text-transform: none; font-weight: normal; text-decoration: none; }
.clear										{ clear: both; }

.logotype									{ letter-spacing: -0.15em; font-family: "GothamBookRegular", Arial, sans-serif; font-weight: 800;}
.small										{ font-family: "AgendaMedium", arial, sans-serif; font-size: .7em; margin: 4px 0 8px 0; text-transform: uppercase; line-height: 100%;}
.big										{ font-size: 1.3em; }
.upper										{ text-transform: uppercase; }
.note										{ margin: 12px 0 0 0; padding: 0 0 80px 0; font-family: "AgendaLight"; font-style: normal; font-weight: normal; font-size: 0.76em; line-height: 100%; letter-spacing: -0.05em; }
.centre										{ text-align: center; }
.floatL										{ float: left; margin: 0 15px 15px 0; }
.green 										{ font-family: "AgendaMedium", Arial, sans-serif; color: #9fdd39; }
.orange 									{ font-family: "AgendaMedium", Arial, sans-serif; color: #f17235; }
.star-o										{ font-family: Arial, sans-serif; color: #f17235; font-size: 1.5em; margin-top: 0; }
.star-g										{ font-family: Arial, sans-serif; color: #9fdd39; font-size: 1.5em; margin-top: 0; }
.georgia									{ font-family: Georgia; font-style: italic; font-size: 1.7em; color: #fff;}


.navWrap									{ position: fixed; margin: 0 0 2px 0; padding: 0; width: 100%; background: #000;  z-index: 9999;}
.main										{ width: 1000px; margin: 0 auto; text-align: center; }
#nav										{ width: 1000px; text-align: left; margin: 0; padding: 15px 0 0 0; background: #000 url(images/nav_edge.png) bottom right no-repeat; height: 30px; }
#nav ul										{ margin: 0; padding: 0; }
#nav li										{ text-transform: uppercase; font-family: "AgendaMedium", Arial, sans-serif; display: inline; float: left; list-style-type: none;}
.nav-btn a,a:visited						{ cursor: pointer; font-family: "AgendaMedium", Arial, sans-serif; margin: 0 200px 0 0; padding: 9px 50px 9px 50px; color: #9fdd39; background: #333; font-weight: normal; text-decoration: none; -webkit-transition: color 200ms ease-in 100ms; -moz-transition: color 200ms ease-in 100ms; -o-transition: color 200ms ease-in 100ms; transition: color 200ms ease-in 100ms;}
.nav-btn a:hover							{ cursor: pointer; color: #000; background: #9fdd39; }
#nav-logo									{ margin: -1px 265px 0 0; padding: 0; }
#nav-home									{ margin: 2px 150px 0 0; padding: 0; }
#nav-phone									{ font-size: 0.85em; margin: 0; padding: 0; color: #9fdd39; }
#nav-phone a,a:visited						{ cursor: pointer; font-family: "AgendaMedium", Arial, sans-serif; color: #9fdd39; font-weight: normal; text-decoration: none; -webkit-transition: color 200ms ease-in 100ms; -moz-transition: color 200ms ease-in 100ms; -o-transition: color 200ms ease-in 100ms; transition: color 200ms ease-in 100ms;}
#nav-phone a:hover							{ cursor: pointer; color: #f17235;}
#nav-welcome								{ font-size: 0.85em; float: left; margin: 0 8px 0 -30px; font-family: "AgendaMedium", Arial, sans-serif; color: #7f7f7f;}
#pricing									{ float: left; margin: 55px -370px 0 126px; padding: 0; }
.email										{ font-size: 1.2em; line-height: 50%; font-weight: bold; margin: 2px 0 0 0; padding: 2px 0 0 0; }

.panelWrapBlack								{ padding: 0; width: 100%; text-align: center; background: url(images/bg_black.png); }
.panelBlack									{ width: 1000px;  margin: 0 auto; padding: 0; background: url(images/main_black.png) bottom center repeat-x; }
.cell										{ padding: 60px 0 70px 0; color: #2a2a2a; letter-spacing: -0.05em;}
.head										{ padding: 100px 0 60px 0; margin: 0; }
.subhead									{ font-size: 2em; text-align: center; padding: 0 0 15px 0; }
#tagline									{ height: 650px; }
.panelWrapWhite								{ width: 100%; margin: 0; padding: 0; text-align: center;  background: url(images/bg_white.png) top left repeat; }
.panelWhite									{ width: 1000px; margin: 0 auto; padding: 0; }
.panelherotxt								{ font-size: 1.6em; font-weight: normal; text-decoration: none; }
#hero										{ margin: 0; padding: 0; width: 1000px; text-align: center; background: url(images/bg_hero_mac.png) top center no-repeat; }
#hero-main-logo								{ margin: 210px 0 0 0; padding: 0;}
.hero-img									{ margin: 112px 0 0 -248px; }
#hero-ipad									{ width: 253px; height: 191px; float: left; position: relative; z-index:3; top: 240px; left: 570px; margin: 0; padding: 0; background: url(images/bg_hero_ipad.png) top center no-repeat; } 
.hero-img-i									{ margin: 16px 0 0 1px; padding: 0;}

.controls {
  background: none;
  background-image: none;
}


#see-how									{ float:left; background: url(images/see_how_off.png) top center no-repeat; margin: -50px 0 0 450px; padding: 28px 15px 0 15px; height: 71px; width: 69px; }
#see-how h2									{ font-size: 1.3em; text-align: center; margin: 0; padding: 0; }
#see-how:hover								{ font-size: 1.35em; background: url(images/see_how_on.png) top center no-repeat; padding: 22px 15px 0 15px; height: 77px; width: 69px; }
#see-how a									{ color: #2a2a2a; font-family: "GothamUltraRegular", Arial, sans-serif; cursor: pointer; line-height: 90%;}
#see-how a:hover							{ color: #2a2a2a; }

#design										{ font-size: 1.05em; color: #2e2e2e; clear: left; margin: 0; padding: 80px 0 0 0; text-align: left;}
#design-txt									{ width: 410px; float: right; height: 250px; margin: 30px 40px 0 0;}
#design-txt h2								{ background: url(images/ul_o_w.png) bottom center no-repeat; margin: 0; padding: 0 0 32px 0; color: #2e2e2e; font-size: 2.57em; }
#design-img									{ margin: -18px 0 0 -100px;}
#design-ipad								{ margin: 0;} 


#clients-wrap								{ width: 100%; margin: 0; }
#clients									{ width: 1000px; margin: 0 auto; height: 120px; padding: 0 0 50px 0; text-align: center; font-family:"AgendaMedium", Helvetica, Arial, sans-serif; }
#clients h4									{ margin: 50px 0 25px 0; font-family:"AgendaLight", Helvetica, Arial, sans-serif; color: #f17235; font-size: 2em; }
#clients p.cl-name							{ font-size: 1.05em; }
#cl-quote-blank								{ margin: 0; padding: 0; height: 61px; }
#cl-tadd									{ cursor:pointer; float: left; background: url(images/cl_tadd.png) top left no-repeat; margin: -20px 0 0 0; padding: 0;}
#cl-tadd:hover								{ background: url(images/cl_tadd_on.png) top left no-repeat; }
#cl-ftw										{ cursor:pointer; float: right; background: url(images/cl_ftw.png) top left no-repeat; margin: -20px 0 0 0; padding: 0;}
#cl-ftw:hover								{ background: url(images/cl_ftw_on.png) top left no-repeat; }
#cl-tss										{ cursor:pointer; float: left; background: url(images/cl_tss.png) top left no-repeat; margin: -20px 0 0 0;  padding: 0;}
#cl-tss:hover								{ background: url(images/cl_tss_on.png) top left no-repeat; }
#cl-pr										{ cursor:pointer; float: right; background: url(images/cl_pr.png) top left no-repeat; margin: -20px 0 0 0; padding: 0;}
#cl-pr:hover								{ background: url(images/cl_pr_on.png) top left no-repeat; }
.quote										{ margin: 0; 0; font-family:"UniversLTCondensedBoldOblique", Arial, sans-serif; letter-spacing: -0.06em; font-size: 1.25em; }

#foundation									{ color: #8d8d8d; padding: 170px  0 0 0; margin: 0 auto; width: 1000px; clear: both; height: 400px; text-align: left; }
#foundation p								{ font-size: 1.05em; }
#foundation h2								{ width: 449px; background: url(images/ul_g_w.png) bottom center no-repeat; margin: 30px 0 0 0; padding: 0 0 32px 0; color: #d1cfcf; font-size: 2.72em; }
#cement										{ float: right; }

#platforms									{ font-size: 1.05em; clear: right; color: #2e2e2e; margin: 0; padding: 80px 0 0 0; text-align: center;}
#platforms-head								{ height: 125px; margin: 0 0 -30px 0; padding: 0; font-style: normal; font-weight: normal; font-family:"AgendaMedium", Helvetica, Arial, sans-serif; background: url(images/platforms_arrows.png) top center no-repeat; font-size: 1em; color:#6f6f6f; text-transform: uppercase; }
#platforms-logo								{ margin: -63px 0 -12px 0; }
#platforms-main								{ width: 780px; margin: 0 auto; text-align: center; font-size: 1.3em; font-family:"AgendaMedium", Helvetica, Arial, sans-serif; }
.platform									{ float: left; width: 200px; margin: -20px 0 50px 47px; }
#platforms-main h2							{ clear: left; letter-spacing: 0; font-size: 2.3em;  margin: 0; padding: 0 0 60px 0; text-shadow: 0px -1px #8a8a8a, 0px -1px #cacaca;}
#platforms-txt								{ text-transform: uppercase; font-size: 0.95em; margin: 23px 0 0 0; }

#beyond										{ color: #8d8d8d; padding: 120px 0 140px 0; margin: 0 auto; width: 1000px; clear: both; text-align: left; }
#beyond-txt									{ float: right; width: 450px; margin: 20px 40px 0 0;}
#beyond p									{ font-size: 1.05em; }
#beyond h2									{ width: 449px; background: url(images/ul_o_w.png) bottom center no-repeat; margin: 30px 0 0 0; padding: 0 0 32px 0; color: #d1cfcf; font-size: 2.8em; }
#store										{ margin: 0 0 0 80px; }
#phone-o									{ float: right; margin: 209px -325px 0 0; padding: 0;}
#phone-g									{ float: right; margin: 0 -23px 0 0; padding: 19px 0 0 0;}
#phone-g-dots								{ float: left; margin: 90px 0 0 100px; padding: 0;}
#getintouch									{ margin: 18px 0 0 30px; width:200px; padding: 38px 0 10px 200px; font-family:"AgendaMedium", Helvetica, Arial, sans-serif; background: url(images/getintouch.png) top right no-repeat; text-transform: uppercase; font-size: 1.6em; }


#contact-head								{ width: 1000px; margin: 0 auto; padding: 60px 0 100px 0; height: 380px; text-align: center; }
#contact-head h2							{ color: #2a2a2a; font-size: 3em; margin: 20px 0 0 270px;}
#contact-txt								{ float: left; color: #2a2a2a; width: 400px; text-align: left; margin: -390px 0 50px 0; padding: 0 0 10px 0; }
#contact-info								{ float: right; width: 520px; text-align: left; margin: -300px 0 0 0; padding: 0; }
.phone										{ padding: 0 0 0 70px; }
.persona									{ float: left; margin: 25px 0 0 0; width: 128px; color: #2a2a2a; padding: 0 20px 0 0;}
.persona-txt								{ margin: 6px 0 0 0; font-size: 1.2em; font-family:"AgendaMedium", Helvetica, Arial, sans-serif; }
.persona-txt a								{ font-size: 1.2em; font-family:"GothamBookRegular"; letter-spacing: -1px; }

#social										{ font-family:"AgendaMedium", Helvetica, Arial, sans-serif; margin: 70px 0 0 0;}
#social-twitter								{ float: right; margin: 55px 15px 0 0; }
#social-facebook							{ float: right; margin: 50px 10px 0 0; }

#thanks										{ clear: both; width: 1000px; margin: 0 auto; padding: 60px 0 0 0; text-align: center; }
#thanks-txt									{ font-size: 4em; font-family:"Market", Helvetica, Arial, sans-serif; }
#logo-footer								{ margin: 30px 0 0 0; }
.copyright									{ margin: 6px 0 0 0; padding: 0 0 30px 0; color: #5f5f5f; font-size: .8em; }
#footer										{ clear: all; margin: 0 auto; width: 1000px; text-align: center; }

.c-wrap										{ position: relative; left: 316px; top: 113px; }
.bg-hero-ipad								{ height: 191px; z-index: 5; position: relative; bottom:80px; left: 280px; background: url(images/bg_hero_ipad.png) top left no-repeat; padding: 20px; }

.c-bg-wrap 											{ width: 370px; height: 210px; overflow: hidden; }
.carousel 											{ margin: 0; position:relative; height: 210px; width: 370px; }
.backgrounds 										{ width: 370px; height: 210px; overflow:hidden; }
.backgrounds .item									{ width: 370px; height: 210px; float:left; position:relative;  z-index:1; }
.carousel .backgrounds .item_1						{ background: url(images/bg_hero_txt.png) top left no-repeat; padding: 55px 0 0 0; }
.item_1 p				 							{ line-height:200%; font-family: "AgendaMedium", Helvetica, Arial, sans-serif; font-size: 1.2em; text-align: center;}
.carousel .backgrounds .item_2						{ background: transparent url(images/bg_hero_txt.png) no-repeat 0 0; padding: 25px 0 0 0; }
.item_2 p				 							{ line-height:140%; font-family: "AgendaMedium", Helvetica, Arial, sans-serif; font-size: 1.2em; text-align: center;}
.carousel .backgrounds .item_3						{ background: transparent url(images/bg_hero_txt.png) no-repeat 0 0; padding: 37px 0 0 0; }
.item_3 p				 							{ margin: 0 0 13px 0; line-height:130%; font-family: "AgendaMedium", Helvetica, Arial, sans-serif; font-size: 1.05em; text-align: center;}
.callus p											{ font-size: 1.5em; line-height: 110%; font-family: "AgendaMedium", Arial, sans-serif; color: #9fdd39; margin: 15px 0 28px 0; }
.carousel .panel									{ position:absolute; right: 0; top:0; height: 340px; width: 275px;}
.likethese											{ letter-spacing: -0.07em; margin: 0; padding: 8px 0 7px; 0; color: #333; background: url(images/bg_likethese.png) top right no-repeat;}

.carousel .backgrounds .item_4						{ background: url(images/hero_1.png) top left no-repeat; padding: 159px 0 0 0; }
.item_4 p				 							{ width: 370px; padding: 4px 0 4px 7px; text-shadow: 1px 1px 2px #000; background: url(images/bg_trans.png) repeat; letter-spacing: -0.1em; font-weight: bold; color: #fff; font-size: 0.85em; text-align: left;}
.carousel .backgrounds .item_5						{ background: url(images/hero_2.png) top left no-repeat; padding: 159px 0 0 0; }
.item_5 p				 							{ width: 370px; padding: 4px 0 4px 7px; text-shadow: 1px 1px 2px #000; background: url(images/bg_trans.png) repeat; letter-spacing: -0.1em; font-weight: bold; color: #fff; font-size: 0.85em; text-align: left;}
.carousel .backgrounds .item_6						{ background: url(images/hero_3.png) top left no-repeat; padding: 159px 0 0 0; }
.item_6 p				 							{ width: 370px; padding: 4px 0 4px 7px; text-shadow: 1px 1px 2px #000; background: url(images/bg_trans.png) repeat; letter-spacing: -0.1em; font-weight: bold; color: #fff; font-size: 0.85em; text-align: left;}

.details_wrapper									{ position:absolute; top:16px; left:-24px; width: 111px; overflow:hidden; height: 148px; z-index: 2; }
.carousel .panel .details_wrapper .details			{ height: 200px; }
.carousel .panel .details_wrapper .details .detail	{ width: 111px; height: 148px; float:left; }


.pr-head											{ margin: 0 0 -50px 0; font-size: 1.2em; padding: 0; }
.footnote											{ font-size: 0.85em; color: #767676; margin: 0; padding: 0; }

.pr-ol-col											{ font-size: .90em; line-height: 130%; color: #fff; padding: 9px 10px 0 10px; margin: -83px 60px 40px 10px; float: left; width: 260px; background: url(images/pr_dot_sm.png) top center no-repeat;}
.col-last											{ margin: -83px 0 0 0; }
.pr-ol-col h2										{ font-size: 2.4em; color: #fff; }
.pr-logo											{ margin: 78px 0 70px 0; }
.pr-logo-genius										{ margin: -5px 0 2px -17px; }
.pr-tag-l											{ font-size: 0.8em; height: 32px; width: 150px; padding: 12px 0 0 17px; margin: 40px 0 30px 45px; }


.pr-tag												{ cursor: pointer; position: relative; z-index: 3; margin: 0 0 -30px 45px; padding: 10px 0 0 14px; font-size: 1.4em; color: #fff; width: 92px; height: 32px; background: url(images/pr_tag_lg.png) no-repeat; }
#tag-on												{ visibility: hidden; padding: 10px 0 0 14px; font-size: 1.4em; color: #fff; width: 92px; height: 32px; background: url(images/pr_tag_lg_on.png) no-repeat; }												

.pr-table-head										{ color: #2a2a2a; text-align: center; width: 200px; margin: 0; padding: 5px;}
.pr-table-info										{ width: 190px; height: 33px; text-align: right; margin: -12px 0 0 0; padding: 0; }
.pr-table-txt										{ height: 40px; padding: 4px 0 0 0; text-align: right; width: 200px; font-size: 0.7em; color: #2a2a2a; font-family:"AgendaMedium", Helvetica, Arial, sans-serif; } 
.pr-table-cat										{ padding: 0 30px 0 0; text-align: right; color: #c4c4c4; text-transform: uppercase; background: url(images/pr_bracket.png) top right no-repeat; width: 100px; font-family: "GothamUltraRegular", Arial, sans-serif; font-size: 1em;}
.pr-table-head h2									{ color: #2a2a2a; }
.pr-table-cell										{ color: #2a2a2a; font-size: 0.7em; line-height: 120%;  font-family: "AgendaLight", Arial, sans-serif; text-transform: none; font-weight: normal; text-decoration: none; text-align: center; width: 182px; margin: -1px 3px -1px 3px; padding: 9px 8px 14px 8px; background: #dddddd; height: 23px; }
.pr-table-cell p									{ margin: 4px 0 0 0; }
.pr-table-cell-span									{ color: #2a2a2a; font-size: 0.7em; line-height: 120%;  font-family: "AgendaLight", Arial, sans-serif; text-transform: none; font-weight: normal; text-decoration: none; text-align: center; width: 180px; margin: -1px 3px -1px 3px; padding: 21px 10px 26px 10px; background: #dddddd;}
.pr-table-cell-addon								{ color: #2a2a2a; font-size: 0.7em; line-height: 120%;  font-family: "AgendaLight", Arial, sans-serif; text-transform: none; font-weight: normal; text-decoration: none; text-align: right; width: 182px; margin: 0 0 3px 3px; padding: 9px 8px 14px 8px; background: #dddddd; height: 23px; }
.pr-table-cell-addon p								{ float: left; }
.pr-table-key-br									{ margin: 0 0 10px 0; height: 1px; background: url(images/pr_key_br.png) top center no-repeat; }
.pr-table-key-title									{ padding: 7px 0 7px 0; margin: 0 0 15px 0; font-family: "AgendaMedium", Arial, sans-serif; color: #2a2a2a; font-size: 1.1em; text-transform: uppercase; }
.pr-key-txt											{ font-family: "AgendaBold", Arial, sans-serif; font-size: 0.65em; color: #2a2a2a; }
.pr-key-txt	p										{ margin: -8px 0 0 0; padding: 0;  }
.pr-key-tick										{ float: left; margin: -4px 0 0 0; padding: 0; }
.pr-help											{ float: right; padding: 4px 3px 0 6px; }
.add												{ margin: 0; padding: 6px 10px 0 6px; float: left; font-family: "GothamUltraRegular", Arial, sans-serif; font-size: 1em; color: #aeaeae; }
.pr-tag-sm											{ font-family: "AgendaBold", Arial, sans-serif; text-transform: none; font-weight: normal; text-decoration: none; cursor: pointer; margin: 0 0 0 56px; padding: 4px 0 0 8px; letter-spacing: -0.05em; font-size: 1.5em; color: #fff; width: 62px; height: 24px; background: url(images/pr_tag_gr.png) no-repeat; }
.pr-tag-sm-addon									{ clear: right; font-family: "AgendaBold", Arial, sans-serif; text-transform: none; font-weight: normal; text-decoration: none; cursor: pointer; margin: 0 0 0 113px; padding: 8px 6px 0 0; letter-spacing: -0.1em; font-size: 1.9em; color: #fff; width: 62px; height: 24px; background: url(images/pr_tag_gr.png) no-repeat; }

.perapp												{ float: right; margin: -24px 2px 0 0; font-size: 0.9em; }

#one-of-a-kind										{ float: right; margin: 375px -110px 0 0; padding: 0; width: 120px; text-align: left; color: #666; font-size: 0.9em;}
#one-of-a-kind p									{ margin: 0 0 4px 0; line-height: 115%; }
.pr-pointer											{ margin: 12px 0 0 0; padding: 0; background: url(images/pr_point.png) top center no-repeat;}
.pr-pointer:hover									{ cursor: pointer; background: url(images/pr_point_on.png) top center no-repeat;}
#the-details										{ float: left; clear: left; margin: -49px 0 0 464px ; padding: 23px 0 0 0; color: #2a2a2a; text-align: center; font-family: "Lobster 1.4", Georgia, serif; font-size: 1.7em; line-height: 90%; width: 100px; height: 100px; background: url(images/pr_dot_lg.png) top center no-repeat;}
.detail												{ font-size: 0.8em; margin: 0; padding: 0; line-height: 70%; }

#calc												{ color: #fff; font-size: 1.3em; font-family: "AgendaBold", Arial, sans-serif; text-transform: none; font-weight: normal; text-decoration: none;}
#pr-tag-l											{ cursor: pointer; font-size: 1.4em; width: 106px; padding: 10px 0 13px 14px; }
fieldset											{ border: none; }
.total												{ font-size: 2em; color: #2a2a2a;}


@font-face {
    font-family: 'AgendaMedium';
    src: url('agenda-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgendaLight';
    src: url('agenda-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AgendaBold';
    src: url('agenda-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamBookRegular';
    src: url('gothambook-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamUltraRegular';
    src: url('gothamultra-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.5em;
}

@font-face {
    font-family: 'UniversLTCondensedBoldOblique';
    src: url('universlt-condensedboldoblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Market';
    src: url('MarketWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}