html										{ font-size: 1em; color: #c4c4c4; margin:0; padding:0; background: #2a2a2a; text-align: center; }

body										{ line-height: 140%; font-family: "AgendaLight", Arial, serif; color: #c4c4c4; height:100%; padding:0; margin:-6px 0 0 0; }

a,a:visited									{ cursor: pointer; font-family: "AgendaMedium", Arial, serif; color: #f17235; font-weight: normal; text-decoration: none; -webkit-transition: color 200ms ease-in 100ms; -moz-transition: color 200ms ease-in 100ms; -o-transition: color 200ms ease-in 100ms; transition: color 200ms ease-in 100ms;}
a:hover										{ cursor: pointer; color: #9fdd39;}

h1											{ font-weight:normal; margin:0; }
h2											{ color: #c4c4c4; margin: 0 0 3px 0; font-family:"GothamUltraRegular"; font-style: normal; text-transform: uppercase; font-weight: normal; text-decoration: none;  letter-spacing: -1px; }
h3,h4										{ font-family: "AgendaLight" font-style: normal; font-weight: normal; text-decoration: none;}
h5											{ color: #2a2a2a; margin: 0; padding: 0; font-size: 2em; font-family: "GothamUltraRegular"; font-style: normal; font-weight: normal; text-decoration: none;}
p											{ margin: 12px 0 0 0; }


.small										{ font-family: "AgendaMedium", arial, serif; font-size: .7em; margin: 4px 0 8px 0; text-transform: uppercase; line-height: 100%;}
.centre										{ text-align: center; }
.floatL										{ float: left; margin: 0 15px 15px 0; }
.green 										{ font-family: "AgendaMedium", Arial, serif; color: #9fdd39; }


.navWrap									{ position: fixed; margin: 0 0 2px 0; padding: 0; width: 100%; background: #000;  z-index: 9999;}
.main										{ width: 1000px; margin: 0 auto; text-align: center; }
#nav										{ width: 1000px; text-align: left; margin: 0; padding: 15px 0 0 0; background: #000 url(images/nav_edge.png) bottom right no-repeat; height: 30px; }
#nav ul										{ margin: 0; padding: 0; }
#nav li										{ text-transform: uppercase; font-family: "AgendaMedium", Arial, serif; display: inline; float: left; list-style-type: none;}
#nav-logo									{ margin: -1px 335px 0 0; padding: 0; }
#nav-home									{ margin: 2px 300px 0 0; padding: 0; }
#nav-phone									{ font-size: 0.85em; margin: 0; padding: 0; color: #9fdd39; }
#nav-welcome								{ font-size: 0.85em; float: left; margin: 0 8px 0 -30px; font-family: "AgendaMedium", Arial, serif; color: #7f7f7f;}


.panelWrapBlack								{ padding: 0; width: auto; text-align: center; background: #000; }
.panelBlack									{ width: 1000px;  margin: 0 auto; padding: 0; background: url(images/main_black.png) bottom center no-repeat; }
#tagline									{ height: 650px; }
.panelWrapWhite								{ width: auto; margin: 0; padding: 0; text-align: center;  background: url(images/bg_white.png) top left repeat; }
.panelWhite									{ width: 1000px; margin: 0 auto; padding: 0; }
.panelherotxt								{ font-size: 1.6em; font-weight: normal; text-decoration: none; }
#hero										{ margin: 0; padding: 0; width: 1000px; text-align: center; background: url(images/bg_hero_mac.png) top center no-repeat; }
#hero-main-logo								{ margin: 210px 0 0 0; padding: 0;}
.hero-img									{ margin: 112px 0 0 -248px; }
#hero-ipad									{ width: 253px; height: 191px; float: left; position: relative; z-index:3; top: 240px; left: 570px; margin: 0; padding: 0; background: url(images/bg_hero_ipad.png) top center no-repeat; } 
.hero-img-i									{ margin: 16px 0 0 1px; padding: 0;}

#see-how									{ float:left; background: url(images/see_how_off.png) top center no-repeat; margin: -50px 0 0 450px; padding: 28px 15px 0 15px; height: 71px; width: 69px; }
#see-how h2									{ font-size: 1.25em; color: #2e2e2e; text-align: center; line-height: 90%; margin: 0; padding: 0; letter-spacing: 0px;}
#see-how:hover								{ background: url(images/see_how_on.png) top center no-repeat; font-size: 1.3em; cursor: pointer; padding: 22px 15px 0 15px; height: 77px; width: 69px; }


#design										{ font-size: 1.05em; color: #2e2e2e; clear: left; margin: 0; padding: 80px 0 0 0; text-align: left;}
#design-txt									{ width: 410px; float: right; height: 250px; margin: 30px 40px 0 0;}
#design-txt h2								{ background: url(images/ul_o_w.png) bottom center no-repeat; margin: 0; padding: 0 0 32px 0; color: #2e2e2e; font-size: 2.57em; }
#design-img									{ margin: 0; }

#clients-wrap								{ width: 100%; margin: 0; }
#clients									{ width: 1000px; margin: 0 auto; padding: 0 0 50px 0; text-align: center; font-family:"AgendaMedium", Helvetica, Arial, sans-serif; }
#clients h4									{ margin: 50px 0 25px 0; font-family:"AgendaLight", Helvetica, Arial, sans-serif; color: #f17235; font-size: 2em; }
#clients p.cl-name							{ font-size: 1.05em; }
#cl-tadd									{ cursor:pointer; float: left; background: url(images/cl_tadd.png) top left no-repeat; margin: -20px 0 0 0; }
#cl-tadd:hover								{ background: url(images/cl_tadd_on.png) top left no-repeat; }
#cl-ftw										{ cursor:pointer; float: right; background: url(images/cl_ftw.png) top left no-repeat; margin: -20px 0 0 0;}
#cl-ftw:hover								{ background: url(images/cl_ftw_on.png) top left no-repeat; }
#cl-tadd2									{ cursor:pointer; float: left; background: url(images/cl_tadd.png) top left no-repeat; margin: -20px 0 0 0; }
#cl-tadd2:hover								{ background: url(images/cl_tadd_on.png) top left no-repeat; }
#cl-ftw2									{ cursor:pointer; float: right; background: url(images/cl_ftw.png) top left no-repeat; margin: -20px 0 0 0;}
#cl-ftw2:hover								{ background: url(images/cl_ftw_on.png) top left no-repeat; }
.quote										{ margin: 0; padding: 0 0 5px 0; font-family:"UniversLTCondensedBoldOblique"; letter-spacing: -1px; font-size: 1.5em; }

#foundation									{ color: #8d8d8d; padding: 170px  0 0 0; margin: 0 auto; width: 1000px; clear: both; height: 400px; text-align: left; }
#foundation p								{ font-size: 1.05em; }
#foundation h2								{ width: 449px; background: url(images/ul_g_w.png) bottom center no-repeat; margin: 30px 0 0 0; padding: 0 0 32px 0; color: #d1cfcf; font-size: 2.72em; }
#cement										{ float: right; }

#platforms									{ font-size: 1.05em; clear: right; color: #2e2e2e; margin: 0; padding: 80px 0 0 0; text-align: center;}
#platforms-head								{ height: 125px; margin: 0 0 -30px 0; padding: 0; font-style: normal; font-weight: normal; font-family:"AgendaMedium", Helvetica, Arial, sans-serif; background: url(images/platforms_arrows.png) top center no-repeat; font-size: 1em; color:#6f6f6f; text-transform: uppercase; }
#platforms-logo								{ margin: -63px 0 -12px 0; }
#platforms-main								{ width: 780px; margin: 0 auto; text-align: center; font-size: 1.3em; font-family:"AgendaMedium", Helvetica, Arial, sans-serif; }
.platform									{ float: left; width: 200px; margin: -20px 0 50px 47px; }
#platforms-main h2							{ clear: left; letter-spacing: 0; font-size: 2.3em;  margin: 0; padding: 0 0 90px 0; text-shadow: 0px -1px #8a8a8a, 0px -1px #cacaca;}
#platforms-txt								{ text-transform: uppercase; font-size: 0.95em; margin: 23px 0 0 0; }

#beyond										{ color: #8d8d8d; padding: 120px 0 140px 0; margin: 0 auto; width: 1000px; clear: both; text-align: left; }
#beyond-txt									{ float: right; width: 450px; margin: 20px 40px 0 0;}
#beyond p									{ font-size: 1.05em; }
#beyond h2									{ width: 449px; background: url(images/ul_o_w.png) bottom center no-repeat; margin: 30px 0 0 0; padding: 0 0 32px 0; color: #d1cfcf; font-size: 2.72em; }
#store										{ margin: 0 0 0 80px; }
#phone-o									{ float: right; margin: 209px -325px 0 0; padding: 0;}
#phone-g									{ float: right; margin: 0 -23px 0 0; padding: 19px 0 0 0;}
#phone-g-dots								{ float: left; margin: 90px 0 0 100px; padding: 0;}
#getintouch									{ margin: 18px 0 0 30px; width:200px; padding: 38px 0 10px 200px; font-family:"AgendaMedium", Helvetica, Arial, sans-serif; background: url(images/getintouch.png) top right no-repeat; text-transform: uppercase; font-size: 1.6em; }


#contact-head								{ width: 1000px; margin: 0 auto; padding: 60px 0 100px 0; height: 380px; text-align: center; }
#contact-head h2							{ color: #2a2a2a; font-size: 3em; margin: 20px 0 0 270px;}
#contact-txt								{ float: left; color: #2a2a2a; width: 400px; text-align: left; margin: -390px 0 50px 0; padding: 0 0 10px 0; }
#contact-info								{ float: right; width: 520px; text-align: left; margin: -300px 0 0 0; padding: 0; }
.phone										{ padding: 0 0 0 70px; }
.persona									{ float: left; margin: 25px 0 0 0; width: 128px; color: #2a2a2a; padding: 0 20px 0 0;}
.persona-txt								{ margin: 6px 0 0 0; font-size: 1.2em; font-family:"AgendaMedium", Helvetica, Arial, sans-serif; }
.persona-txt a								{ font-size: 1.2em; font-family:"GothamBookRegular", Helvetica, Arial, sans-serif; letter-spacing: -1px; }

#social										{ font-family:"AgendaMedium", Helvetica, Arial, sans-serif; margin: 70px 0 0 0;}
#social-twitter								{ float: right; margin: 55px 15px 0 0; }
#social-facebook							{ float: right; margin: 50px 10px 0 0; }

#thanks										{ clear: both; width: 1000px; margin: 0 auto; padding: 60px 0 0 0; text-align: center; font-family:"Market", Helvetica, Arial, sans-serif;} 
#logo-footer								{ margin: 30px 0 0 0; }
.copyright									{ margin: 6px 0 0 0; padding: 0 0 30px 0; color: #5f5f5f; font-size: .8em; }
#footer										{ clear: all; margin: 0 auto; width: 1000px; text-align: center; }


.c-wrap										{ position: relative; left: 316px; top: 113px; }
.bg-hero-ipad								{ height: 191px; z-index: 5; position: relative; bottom:80px; left: 280px; background: url(images/bg_hero_ipad.png) top left no-repeat; padding: 20px; }

.c-bg-wrap 											{ width: 370px; height: 210px; overflow: hidden; }
.carousel 											{ margin: 0; position:relative; height: 210px; width: 370px; }
.backgrounds 										{ width: 370px; height: 210px; overflow:hidden; }
.backgrounds .item									{ width: 370px; height: 210px; float:left; position:relative;  z-index:1; }
.carousel .backgrounds .item_1						{ background: transparent url(images/hero_1.png) no-repeat 0 0;}
.carousel .backgrounds .item_2						{ background: transparent url(images/hero_2.png) no-repeat 0 0;}
.carousel .backgrounds .item_3						{ background: transparent url(images/hero_3.png) no-repeat 0 0; }
.carousel .panel									{ position:absolute; right: 0; top:0; height: 340px; width: 275px;}
.details_wrapper									{ position:absolute; top:16px; left:-24px; width: 111px; overflow:hidden; height: 148px; z-index: 2; }
.carousel .panel .details_wrapper .details			{ height: 200px; }
.carousel .panel .details_wrapper .details .detail	{ width: 111px; height: 148px; float:left; }

@font-face {
    font-family: 'AgendaMedium';
    src: url('agenda-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'AgendaLight';
    src: url('agenda-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'AgendaBold';
    src: url('agenda-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'GothamBookRegular';
    src: url('gothambook-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'GothamUltraRegular';
    src: url('gothamultra-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'UniversLTCondensedBoldOblique';
    src: url('universlt-condensedboldoblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Market';
    src: url('MarketWeb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

