body {
	margin: 0;
	padding: 0;
	border: none;
}

img {
	margin: 0;
	padding: 0;
	border: none;
}

#sites-main {
	margin: 100px 20% 0 17%;
	padding: 0;
	text-align: center;
}

.sites-main-text {
	text-align: left;
	font-family: gilroy-semi-bold;
	padding: 20px;
	
}

.sites-main-text h2 {
	font-size: 39px;
	color: #383838;
	margin: 0 200px 30px 0;
}

.sites-main-text p {
	color: #383838;
	font-size: 17px;
	line-height: 140%;
	text-transform: none;
	margin: 0 200px 30px 200px; 
}

.border {
	border-radius: 25px;
	background: #f2efed;
	margin: 50px 0 50px 0;
	padding: 20px;
}

.sg-iframe {
	width: 1480px;
	border-radius: 25px;
	background: #f2efed;
	margin: 0;
	padding: 20px;
	overflow-y: auto;
}

#sites-main-sg {
	margin: 0 50px 0  0 0 -50px;
	padding: 0;
	text-align: center;
}

::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
  background: #fcf9f7; 
}

::-webkit-scrollbar-thumb {
  background: #14CF93;
  border-radius: 5px;